/* Style sheet for som.php, outliers.php and about.php */

#content, html{
    height: 98%;
}

@font-face {
    font-family:chalk;
    src: url('chalkItUp.ttf');
}

.navbar {
-webkit-box-shadow: 0 8px 6px -6px #999;
-moz-box-shadow: 0 8px 6px -6px #999;
box-shadow: 0 8px 6px -6px #999;
}


body{
    margin:20px;
    padding:4.5rem 10px;
    max-width:1800px;
    min-height: 60px;
}

h1,h2,h3{line-height:1.2}

.imgContainer{
    display:inline-block;
}

.containerdiv {
    border: 0;
    float: left;
    position: relative;
}
.fill {
    margin-top:10px;
    height:30px;/*border-left:40px;border-right:40px;*/
    width:calc(100% - 80px);
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('images/bracket2.png');
}

.chalky_font1{
    font-family:chalk;
    font-size:18pt;
}
.chalky_font2{
    font-family:chalk;
    font-size:14pt;
    display:none;
    float:left;
    padding:10px;
    /*width:350px;*/
    width:calc(100% - 1200px);
    clear:right;
}
.chalky_font3{
    font-family:chalk;
    font-size:14pt;
    color:white;
    display:none;
    position:absolute;
    z-index:19;
}
.chalky_font_black{
    font-family:chalk;
    font-size:14pt;
    display:none;
    position:absolute;
    z-index:18;
}

.heatmap {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#proto_id, #prototype_clicked_on{
    margin: 20px;
}

#buttons {
    float: left;
    clear: both;
    position:relative;
}

#leftpanel {
    float: left;
    width: 400px;
    height:440px;
    position: relative;
}

#cutouts_container {
    margin: 0px;
    float: left;
    position: relative;
    width: calc(100% - 460px);/*
    clear: right;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#som {
width:400px;
position: relative;
}

#containertje{
position: relative;
float: left;
}

#aladin-lite-div{
    width:800px;
    height:400px;
}
