/* Style sheet for som.php, outliers.php and about.php */

#content, html{
    height: 98%;
}

@font-face {
    font-family:chalk;
    src: url('chalkItUp.ttf');
}

.navbar {
-webkit-box-shadow: 0 8px 6px -6px #999;
-moz-box-shadow: 0 8px 6px -6px #999;
box-shadow: 0 8px 6px -6px #999;
}


body{
    padding:5.2rem 10px;
    max-width:1800px;
    min-height: 60px;
}

h1,h2,h3{line-height:1.2}




@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-xb0za8");
  src: url("../fonts/icomoon.eot?#iefix-xb0za8") format("embedded-opentype"), url("../fonts/icomoon.woff?-xb0za8") format("woff"), url("../fonts/icomoon.ttf?-xb0za8") format("truetype"), url("../fonts/icomoon.svg?-xb0za8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }


/*body{background-color:#EEEEEE;margin:20px;color:#004b93;
max-width:1800px;line-height:1.6;font-size:18px;color:#444;padding:0
10px;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
*/

.imgContainer2{
    /*float:left;*/
    clear:right;
    width:100%;
}
.imgContainer3{
    width: 100%;
    float:left;
}

.chalky-font4{
    font-family:chalk;
    font-size:22pt;
    display:none;
    float:left;
    padding:10px;
    width:350px;
    clear:right;
}

#control-div {
    font-size:12px;
    width:800px;
    height:60px;

}

#bottom-control-div {
    position:fixed;
    bottom:0px;
    text-align:left;
    margin-left:5%;
    width:90%;
    height:60px;
}

#aladin-buttons {
    text-align:center;
    width:550px;
}
#playback-box {
    float:right;
    text-align:right;
    width:400px;
}
#pointing-navigation {
    position:fixed;
    bottom:5px;
    float:left;
    text-align:left;
    width:500px;
}


#leftpanel-outliers {
    float: left;
    width: 400px;
    height:100%;
    position: relative;
}

#right-panel{
    margin:0px;
    float:right;
    width:calc(100% - 440px);
    height:100%;
}

#outliers-header{
    margin:0px;
    float:left;
    width: 100%;
    clear:right; 
}

#outliers_container {
    width:98%;
    height: 100%;
    overflow: auto;
}


#aladin-container-outliers{
position: fixed;
width:440px;
}

#aladin-lite-div-outliers{
    width:440px;
    height: 600px;
    -webkit-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.imgContainer{
    display:inline-block;
}

.containerdiv {
    border: 0;
    float: left;
    position: relative;
}
.fill {
    margin-top:10px;
    height:30px;/*border-left:40px;border-right:40px;*/
    width:calc(100% - 80px);
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('images/bracket2.png');
}

.chalky-font1{
    font-family:chalk;
    font-size:18pt;
}
.chalky-font2{
    font-family:chalk;
    font-size:14pt;
    display:none;
    float:left;
    padding:10px;
    /*width:350px;*/
    width:calc(100% - 1200px);
    clear:right;
}
.chalky-font3{
    font-family:chalk;
    font-size:14pt;
    color:white;
    display:none;
    position:absolute;
    z-index:19;
    text-shadow: 1px 1px 4px black;
}

.chalky-font-black{
    font-family:chalk;
    font-size:14pt;
    display:none;
    position:absolute;
    z-index:18;
}

.heatmap {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#proto_id, #prototype_clicked_on{
    margin: 20px;
}

#buttons {
    float: left;
    clear: both;
    position:relative;
}

#leftpanel {
    float: left;
    width: 400px;
    height:440px;
    position: relative;
}

#cutouts_container {
    margin: 0px;
    float: left;
    position: relative;
    width: calc(100% - 460px);/*
    clear: right;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#som {
width:400px;
position: relative;
}

#containertje{
position: relative;
float: left;
}

#aladin-lite-div{
    width:800px;
    height:400px;
}
